<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS3FWqPQKMnNobWQaDKEPKW4VoyyAySJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>184034487459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nathanielham.Unibell</string>
	<key>PROJECT_ID</key>
	<string>unibell-hyunseo12</string>
	<key>STORAGE_BUCKET</key>
	<string>unibell-hyunseo12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184034487459:ios:a4097a397686352d762316</string>
</dict>
</plist>